body {
    font-family: "Poppins", sans-serif;
    max-width: 560px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    margin-top: 2rem;
    border: solid 1px #0077B6;
}

.single-input {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #00B4D8;
}

input {
    margin: 0 0.5rem 0 0.5rem;
    max-width: 8rem;
}

#inputs {
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    color: white;
    gap: 1px;
    background-color: #0077B6;
}

#add {
    padding: 0.8rem;
    margin: 0.5rem 4rem 0.5rem 4rem;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem auto;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #0077B6;
}

h1, p {
    color: white;
    background-color: #0077B6;
    padding: 1rem;
    margin: 0;
}

#shopping-list {
    padding: 1rem;
    margin: 1rem 0;
}

.sticky {
    min-width: 100%;
    position: fixed;
    top: 0;
}

li p {
    background-color: white;
    color: black;
}

li button {
    margin: 1rem;
}

li:nth-child(1) {
    padding-top: 19rem;
}