body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    max-width: 560px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: white;
    background-color: #0077B6;
    font-size: 20px;
    padding: 0.5rem;
    margin: 0;
    grid-column: 1 / 3;
}

section {
    margin-top: 2rem;
    box-shadow: 1px 1px 10px black;
}

.single-input {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #00B4D8;
    grid-column: 1 / 3;
}

.single-input:nth-child(3),
.single-input:nth-child(4) {
    grid-column: auto;
}

.single-input:nth-child(3) input,
.single-input:nth-child(4) input {
    max-width: 50px;
}

input {
    margin: 0 0.5rem 0 0.5rem;
    max-width: 7rem;
}

#inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 1px;
    background-color: #0077B6;
    
    min-width: 100%;
    position: fixed;
    top: 0;
}



#add {
    padding: 0.8rem;
    margin: 0.5rem 4rem 0.5rem 4rem;
}

li {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1rem auto;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #0077B6;
}

p {
    color: white;
    background-color: #0077B6;
    padding: 1rem;
    margin: 0;
}

#shopping-list {
    padding: 1rem;
    margin: 1rem 0;
}

li p {
    background-color: white;
    color: black;
}

li button {
    margin: 1rem;
}

li:nth-child(1) {
    padding-top: 9rem;
}